<div class="panel panel-default">
    <div class="panel-body affiliation-body">
        <h5 class="media-heading">{{ affiliation.institutionName }}</h5>
        <address>{{ affiliation.fullAddress }}</address>
        <div class="btn-group" role="group">
            <button
                    data-edit-affiliation-form="{{ url('edit_affiliation_form', { id: affiliation.id }) }}"
                    data-update-affiliation="{{ url('update_affiliation', { id: affiliation.id }) }}"
                    type="button" class="btn btn-primary btn-xs" title="Edit" style="display: block">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </button>
            {#
            <button type="button" class="btn btn-danger btn-xs" title="Delete" style="display: block">
                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete
            </button>
            #}
        </div>
    </div>
</div>
