{% for author in authors %}
<ul class="list-group">

    <li class="list-group-item">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="img-circle" alt="64x64" src="//unsplash.it/64?random" />
                </a>
            </div>

            <div class="media-body">
                <h3 class="media-heading">
                    {{- author.lastName }}, <span style="font-weight: normal">{{ author.name -}}</span>
                </h3>
                <p>{{ author.email }} </p>

                <h4>Affiliations</h4>

                <div class="row">
                    {% for affiliation in author.affiliations %}
                    <div class="col-sm-4">
                        {% include 'affiliation.html.twig' with { affiliation: affiliation } %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </li>

</ul>
{% endfor %}

<hr />
