{{ form_start(coAuthorForm, { attr: { id: 'addCoAuthorForm' } }) }}
    {{ form_row(coAuthorForm.name) }}
    {{ form_row(coAuthorForm.lastName) }}
    {{ form_row(coAuthorForm.email) }}

    <label>Affiliations</label>

    <ul data-affiliations="{{ form_widget(coAuthorForm.affiliations.vars.prototype)|e('html_attr') }}">
        {% for affiliation in coAuthorForm.affiliations %}
            <li>{{ form_row(affiliation.institutionName) }}</li>
            <li>{{ form_row(affiliation.address) }}</li>
            <li>{{ form_row(affiliation.city) }}</li>
            <li>{{ form_row(affiliation.country) }}</li>
        {% endfor %}
    </ul>
{{ form_end(coAuthorForm) }}
