{{ form_start(affiliationForm, { method: 'PUT', attr: { class: 'edit-affiliation-form' } }) }}
    {{ form_rest(affiliationForm) }}
    <button type="submit" class="btn btn-primary">Update</button>
{{ form_end(affiliationForm) }}
