<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PallMall</title>

    <!-- Bootstrap -->
    <link href="{{ asset('/components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        ul[data-affiliations],
        ul#flashes {
            list-style: none;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>PallMall</h1>

    <div class="row">
        <ul id="flashes"></ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2>Co-Authors</h2>

            <hr />

            <div class="btn-group" role="group" aria-label="...">
                <button id="addCoAuthorButton" type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#addCoAuthorPanel">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Add Co-Author
                </button>

                <button id="resetDemoButton" type="button" class="btn btn-md btn-danger" data-toggle="popover" title="Reset Demo">
                    Reset demo
                </button>
            </div>

            <hr />

            <div id="authorsPanel">
                {% if authors|length %}
                    {% include 'authors.html.twig' with { 'authors': authors } %}
                {% else %}
                    <p>There are no authors to display. Start by creating one below.</p>
                {% endif %}
            </div>

            <div id="addCoAuthorPanel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCoAuthorTitle">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addCoAuthorTitle">Add Co-Author</h4>
                        </div>
                        <div class="modal-body">
                            {% include 'create_author_form.html.twig' with { 'coAuthorForm': coAuthorForm } %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            {{ form_row(coAuthorForm.submit) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ asset('/components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<script id="pallmall" src="{{ asset('index.js') }}" data-author-endpoint="{{ url('create_author') }}" data-reset-demo-form="{{ (form_start(resetDemoForm, {'action': path('reset_demo'), 'method': 'POST'}) ~ form_widget(resetDemoForm.reset) ~ form_end(resetDemoForm))|e('html_attr') }}"></script>

</body>
</html>
